<?xml version="1.0"?>

<robot 
	xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find euler_gazebo)/urdf/euler.gazebo.component_macros.xacro"/>

  <xacro:euler prefix=""/>
  
  <!--<euler_arm prefix=""/>-->
  <euler_base prefix="" side="left"/>
  <euler_base prefix="" side="right"/>

</robot>


