<?xml version="1.0" ?>

  <robot name="euler" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find euler_support)/urdf/euler_macro.xacro" />
  <xacro:include filename="$(find euler_gazebo)/urdf/euler.gazebo.components.xacro"/> 
  <xacro:include filename="$(find euler_gazebo)/urdf/euler.gazebo.controllers.xacro"/>
<!--  <xacro:include filename="$(find euler_gazebo)/urdf/gazebo/sick_s300.gazebo.xacro" /> -->
    <gazebo reference="front_sick_s300">
      <sensor type="ray" name="sick_sensor">
        <pose>0 0 0 0 0 0</pose>
        <visualize>false</visualize>
        <update_rate>26</update_rate>
        <ray>
          <scan>
            <horizontal>
              <samples>231</samples>
              <resolution>1</resolution>
              <min_angle>-2.00712</min_angle>
              <max_angle>2.00712</max_angle>
            </horizontal>
          </scan>
          <range>
            <min>0.10</min>
            <max>15.0</max>
            <resolution>0.01</resolution>
          </range>
        </ray>
        <plugin name="gazebo_ros_sick_controller" filename="libgazebo_ros_laser.so">
          <alwaysOn>true</alwaysOn>
          <updateRate>26</updateRate>
          <topicName>front_sick_s300/scan</topicName>
          <frameName>front_sick_s300</frameName>
        </plugin>
      </sensor>
    </gazebo>


  <gazebo reference="frame_left">
    <material>Gazebo/Grey</material>
  </gazebo>


  <gazebo reference="frame_right">
    <material>Gazebo/Grey</material>
  </gazebo>


  <gazebo reference="frame_top">
    <material>Gazebo/Grey</material>
  </gazebo>

  <gazebo reference="vetex_base_link">
    <material>Gazebo/Grey</material>
  </gazebo>

  <gazebo reference="motoman_base_link">
    <material>Gazebo/Blue</material>
  </gazebo>


  <gazebo reference="motoman_link_s">
    <material>Gazebo/Grey</material>
  </gazebo>


  <gazebo reference="motoman_link_l">
    <material>Gazebo/Blue</material>
  </gazebo>


  <gazebo reference="motoman_link_r">
    <material>Gazebo/Grey</material>
  </gazebo>


  <gazebo reference="motoman_link_u">
    <material>Gazebo/Blue</material>
  </gazebo>


  <gazebo reference="motoman_link_b">
    <material>Gazebo/Blue</material>
  </gazebo>


  <gazebo reference="eef_body">
    <material>Gazebo/DarkGrey</material>
  </gazebo>

  <gazebo reference="sick_nav350">
    <material>Gazebo/Blue</material>
  </gazebo>


  <gazebo reference="front_sick_s300">
    <material>Gazebo/Yellow</material>
  </gazebo>


  <gazebo reference="rear_sick_s300">
    <material>Gazebo/Yellow</material>
  </gazebo>

  <gazebo reference="vetex_right_rear_wheel">
    <material>Gazebo/Black</material>
    <mu1 value="0.9" />
    <mu2 value="0.9" />
    <minDepth>0.0001</minDepth>
  </gazebo>


  <gazebo reference="vetex_right_front_wheel">
    <material>Gazebo/Black</material>
    <mu1 value="0.9" />
    <mu2 value="0.9" />
    <minDepth>0.0001</minDepth>
  </gazebo>


  <gazebo reference="vetex_left_rear_wheel">
    <material>Gazebo/Black</material>
    <mu1 value="0.9" />
    <mu2 value="0.9" />
    <minDepth>0.0001</minDepth>
  </gazebo>


  <gazebo reference="vetex_left_front_wheel">
    <material>Gazebo/Black</material>
    <mu1 value="0.9" />
    <mu2 value="0.9" />
    <minDepth>0.0001</minDepth>
  </gazebo>

  <!-- Sensors -->
  <!--<sick_s300_gazebo link="front_sick_s300" topic_name="front_sick_s300" /> -->
  <!-- <sick_s300_gazebo link="rear_sick_s300" topic_name="rear_sick_s300" />
  <sick_s300_gazebo link="sick_nav350" topic_name="sick_nav350" /> -->


</robot>
