<?xml version="1.0" ?>

  <robot name="euler" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find euler_support)/urdf/euler_macro.xacro" />
  <xacro:include filename="$(find euler_gazebo)/urdf/euler.gazebo.components.xacro"/> 
  <xacro:include filename="$(find euler_gazebo)/urdf/euler.gazebo.controllers.xacro"/>
  <xacro:include filename="$(find euler_gazebo)/urdf/gazebo/sick_macros.gazebo.xacro" /> 

  <!-- Front sensor SICK S300 -->
  <sick_s300_gazebo link="front_sick_s300" topic_name="front_sick_s300" />
  <!-- Rear sensor SICK S300 -->
  <sick_s300_gazebo link="rear_sick_s300" topic_name="rear_sick_s300" />
  <!-- Front, high-res sensor SICK Nav350 -->
  <sick_nav350_gazebo link="sick_nav350" topic_name="sick_nav350" />


  <gazebo reference="frame_left">
    <material>Gazebo/Grey</material>
  </gazebo>


  <gazebo reference="frame_right">
    <material>Gazebo/Grey</material>
  </gazebo>


  <gazebo reference="frame_top">
    <material>Gazebo/Grey</material>
  </gazebo>

  <gazebo reference="vetex_base_link">
    <material>Gazebo/Grey</material>
  </gazebo>

  <gazebo reference="motoman_base_link">
    <material>Gazebo/Blue</material>
  </gazebo>


  <gazebo reference="motoman_link_s">
    <material>Gazebo/Grey</material>
  </gazebo>


  <gazebo reference="motoman_link_l">
    <material>Gazebo/Blue</material>
  </gazebo>


  <gazebo reference="motoman_link_r">
    <material>Gazebo/Grey</material>
  </gazebo>


  <gazebo reference="motoman_link_u">
    <material>Gazebo/Blue</material>
  </gazebo>


  <gazebo reference="motoman_link_b">
    <material>Gazebo/Blue</material>
  </gazebo>


  <gazebo reference="eef_body">
    <material>Gazebo/DarkGrey</material>
  </gazebo>

  <gazebo reference="sick_nav350">
    <material>Gazebo/Blue</material>
  </gazebo>


  <gazebo reference="front_sick_s300">
    <material>Gazebo/Yellow</material>
  </gazebo>


  <gazebo reference="rear_sick_s300">
    <material>Gazebo/Yellow</material>
  </gazebo>

  <gazebo reference="vetex_right_rear_wheel">
    <material>Gazebo/Black</material>
    <mu1 value="0.9" />
    <mu2 value="0.9" />
    <minDepth>0.0001</minDepth>
  </gazebo>


  <gazebo reference="vetex_right_front_wheel">
    <material>Gazebo/Black</material>
    <mu1 value="0.9" />
    <mu2 value="0.9" />
    <minDepth>0.0001</minDepth>
  </gazebo>


  <gazebo reference="vetex_left_rear_wheel">
    <material>Gazebo/Black</material>
    <mu1 value="0.9" />
    <mu2 value="0.9" />
    <minDepth>0.0001</minDepth>
  </gazebo>


  <gazebo reference="vetex_left_front_wheel">
    <material>Gazebo/Black</material>
    <mu1 value="0.9" />
    <mu2 value="0.9" />
    <minDepth>0.0001</minDepth>
  </gazebo>



</robot>
