
<launch>
  
  <include file="$(find euler_support)/launch/load_euler.launch" />
	
  <param name="use_gui" value="false" />
	
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
 	 <rosparam param="source_list">["euler/joint_state_controller/joint_command"]</rosparam>
     <rosparam param="use_gui">false</rosparam>
     <rosparam param="rate">1000</rosparam>
  </node>
  
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find euler_support)/config/euler_craftsman.rviz" required="true" />

	<node pkg="tf" type="static_transform_publisher" name="world_broadcaster" args="0 0 0 0 0 0 base_link world 100" />

</launch>
