<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="sick_macros_gazebo" >

  <xacro:macro name="sick_s300_gazebo" params="link topic_name">

    <gazebo reference="${link}">
      <sensor type="ray" name="${link}_sensor">
        <pose>0 0 0 0 0 0</pose>
        <visualize>false</visualize>
        <update_rate>12.5</update_rate> <!-- Response time 80ms -->
        <ray>
          <scan>
            <horizontal>
              <samples>270</samples>
              <resolution>1</resolution> <!-- Actually it is 0.5 degrees-->
              <min_angle>-2.35</min_angle>
              <max_angle>2.35</max_angle>
            </horizontal>
          </scan>
          <range>
            <min>0.10</min>
            <max>30.0</max>
            <resolution>0.015</resolution> <!-- 30mm, 40mm, 50mm, 70mm, 150mm (configurable)-->
          </range>
        </ray>
        <plugin name="gazebo_ros_${link}_controller" filename="libgazebo_ros_laser.so">
          <alwaysOn>true</alwaysOn>
          <updateRate>0.0</updateRate> <!-- 0 just uses the update_rate set in the sensor tag above -->
          <topicName>${topic_name}/scan</topicName>
          <frameName>${link}</frameName>
        </plugin>
      </sensor>
    </gazebo>
  </xacro:macro>

  <!-- Laser Scanner NAV350 Indoor Mid Range -->
  <xacro:macro name="sick_nav350_gazebo" params="link topic_name">

    <gazebo reference="${link}">
      <sensor type="ray" name="${link}_sensor">
        <pose>0 0 0 0 0 0</pose>
        <visualize>false</visualize>
        <update_rate>8.0</update_rate> <!-- 8Hz -->
        <ray>
          <scan>
            <horizontal>
              <samples>360</samples>
              <resolution>1</resolution> <!-- 0.1 degrees, actually -->
              <min_angle>-3.1416</min_angle>
              <max_angle>3.1416</max_angle>
            </horizontal>
          </scan>
          <range>
            <min>0.50</min>
            <max>35.0</max> <!-- 250m in general, 70m on reflective surfaces -->
            <resolution>0.01</resolution>
          </range>
        </ray>
        <plugin name="gazebo_ros_${link}_controller" filename="libgazebo_ros_laser.so">
          <alwaysOn>true</alwaysOn>
          <updateRate>0.0</updateRate>  <!-- 0 just uses the update_rate set in the sensor tag -->
          <topicName>${topic_name}/scan</topicName>
          <frameName>${link}</frameName>
        </plugin>
      </sensor>
    </gazebo>
  </xacro:macro>

</robot>
